<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body style="background-color: #F8EA8C">
    <div style="width:100%">
      <img src=https://s3.amazonaws.com/nets213images/Screenshot+2019-05-06+at+20.52.44.png style="width:100px;height:100px;float:left">
      <h3 style="text-align:center;font:30px Ariel;float:left;margin-left: 37%"><u>Truck Tracker</u></h3>
    </div>
      <!--The div element for the map -->
      <div id="map"></div>
      <button onClick='uploadData()' style="width:100%;font:16px Ariel">Upload Menu Pictures</button>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var ucity = {lat: 39.953555, lng: -75.198589};
  // The map, centered at university city
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: ucity});
  // The marker, positioned at university city
  $.post('/locations', function(data,status){
    JSON.parse(data).Items.forEach(function(element){
      var myLatlng = new google.maps.LatLng(element.Lat.N,element.Lon.N);
      var content_window = "<form action='/Menu' method='post'><input hidden name='name' value='" + element.Truck_Name.S + "'</input><b><p style='text-align:center'>" + element.Truck_Name.S + "</p></b><br>" + "<input type='submit' value='Menu'></button></form>";
      var marker = new google.maps.Marker({position:myLatlng,
        title:element.Truck_Name.S
        ,map:map,
      });
      var infowindow = new google.maps.InfoWindow({
        content: content_window
      });
      marker.addListener('click', function() {
      infowindow.open(map, marker);
      });
      marker.setMap(map);
    });
  });

}

function uploadData(){
  window.location.replace('https://form.jotform.co/91076064363860?fbclid=IwAR2gWucqyCtWnDlpqZkikbGi7nQVwyXlirxhB3Fj8ZAZcBXyELOseUZYzg4')
}

    </script>

    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=XXXX&callback=initMap">
    </script>
  </body>
</html>